.footer {
  padding: 32px 0;

  &__menu {
    display: none;
  }

  &__nav {
    margin-bottom: 20px;
  }

  &__copyright {
    font-size: 12px;
    line-height: 150%;
    color: #AFC1C1;
    text-align: left;
    margin-bottom: 20px;
  }

  &__link {
    color: $primary-color;
  }
}

@include respond-to(medium) {
  .footer {
    &__logo {
      width: 220px;
      height: 38px;

      img {
        width: 100% !important;
      }
    }

    &__menu {
      display: flex;
      @include list();

      li {
        a {
          text-decoration: none;
          font-weight: 500;
          padding: 10px 25px;
          color: #002424;
        }

        &:last-child a {
          padding-right: 0;
        }
      }
    }

    &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 80px;
    }

    &__copyright {
      text-align: center;
      line-height: 100%;
      color: #002424;
      font-size: 14px;
      margin-bottom: 40px;
    }
  }
}